%h1 New Topic

.row
  .col-md-4
    %p Guidelines for topics.
    %ul
      %li Make sure topics are appropriate.
      %li Don't insult dogs.
      %li Smile when you type.
  .col-md-8
    = render partial: 'form', locals: { topic: @topic }
